/*
#main {
  height: 100px;
  background: gray;
  position: absolute;
  top: 100px;
  left: 100px;
}
.controllers {
  background: red;
  height: 30px;
}


.timer {
  background: blue;
  height: 30px;
}
*/
